---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"consumer_key":"<<POCKET_CONSUMER_KEY>>","access_token":"<<POCKET_ACCESS_TOKEN>>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - 500 Internal Server Error
      X-Error:
      - Pocket server error.
      X-Error-Code:
      - '198'
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '500'
      X-Limit-User-Remaining:
      - '497'
      X-Limit-User-Reset:
      - '2682'
      X-Source:
      - Pocket
    body:
      encoding: ASCII-8BIT
      string: 500 Internal Server Error
  recorded_at: Sat, 17 Sep 2016 11:32:19 GMT
recorded_with: VCR 3.0.3
