---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"since":1474024821,"consumer_key":"<<POCKET_CONSUMER_KEY>>","access_token":"<<POCKET_ACCESS_TOKEN>>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9998'
      X-Limit-Key-Reset:
      - '3378'
      X-Limit-User-Limit:
      - '500'
      X-Limit-User-Remaining:
      - '498'
      X-Limit-User-Reset:
      - '3378'
      X-Source:
      - Pocket
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"complete":0,"list":{"1416066173":{"item_id":"1416066173","resolved_id":"1416066173","given_url":"http:\/\/i.imgur.com\/kCXV8yz.png","given_title":"","favorite":"0","status":"1","time_added":"1474111161","time_updated":"1474111173","time_read":"1474111172","time_favorited":"0","sort_id":0,"resolved_title":"","resolved_url":"http:\/\/i.imgur.com\/kCXV8yz.png","excerpt":"","is_article":"0","is_index":"0","has_video":"0","has_image":"2","word_count":"0"},"1416535493":{"item_id":"1416535493","resolved_id":"1416535493","given_url":"http:\/\/i.imgur.com\/RyNY5g0.gif","given_title":"","favorite":"0","status":"0","time_added":"1474111137","time_updated":"1474111138","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"","resolved_url":"http:\/\/i.imgur.com\/RyNY5g0.gif","excerpt":"","is_article":"0","is_index":"0","has_video":"0","has_image":"2","word_count":"0"},"991624415":{"item_id":"991624415","status":"2"},"515249464":{"item_i[...]
