---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"since":1474194520,"consumer_key":"<<POCKET_CONSUMER_KEY>>","access_token":"<<POCKET_ACCESS_TOKEN>>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9995'
      X-Limit-Key-Reset:
      - '3353'
      X-Limit-User-Limit:
      - '500'
      X-Limit-User-Remaining:
      - '495'
      X-Limit-User-Reset:
      - '3353'
      X-Source:
      - Pocket
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"complete":0,"list":{"124414":{"item_id":"124414","status":"2"}},"error":null,"search_meta":{"search_type":"normal"},"since":1474195439}'
  recorded_at: Sun, 18 Sep 2016 10:43:59 GMT
recorded_with: VCR 3.0.3
